/* dividing the page in nav, section and footer */
.pagelayout {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1px); /* buffer to avoid scrollbars */
}

/* general wrapping */
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

/* navigation header */
nav {
  background: #f80;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav a {
  display: inline-block;
  color: #820;
  background: #f80;
  font-size: 1em;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
}
nav a:hover {
  color: #f80;
  background: #820;
}

/* main content pane */
section {
  background: url(clarify/fest.jpg);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

/* footer */
footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #bbb;
}
footer > span, a {
  display: inline-block;
  font-size: 1em;
  color: #000;
  background: #fff;
  padding: 1em;
  text-decoration: none;
}
footer a {
  font-weight: bold;
}
footer a:hover {
  font-weight: bold;
  color: #fff;
  background: #000;
}
footer *:first-child {
  flex-grow: 1;
}