/* fonts */
@font-face {
  font-family: "altehaas";
  /* https://www.1001fonts.com/alte-haas-grotesk-font.html */
  src: url(AlteHaasGroteskRegular.ttf) format("truetype");
}
html {
  font-size: 16px;
}
html * {
  font-family: altehaas;
  line-height: 1.2em;
}


/* dividing the page in nav, section and footer */
.pagelayout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: url(clarify/fest.jpg);
  background-size: cover;
  background-position: center;
}


/* general wrapping */
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}


/* navigation header */
nav {
  position: fixed; width: 100%; height: 3em;
  z-index: 1;
  background: #f80;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #bbb;
}
nav .logo {
  height: 3em;
  width: 3em;
  margin: 0em auto 0 6px;
  background:  url(assets/Villa_Loewe.png);
  background-size: cover;
  padding: 0;
}
nav .logo:hover {
  background:  url(assets/Villa_Loewe2.png);
  background-size: cover;
}

nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: #f80;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;

}
nav a:hover {
  color: #f80;
  background: rgb(255, 255, 255);
}


/* main content pane */
.trunk {
  margin: 3em auto;
  flex-grow: 1;
  max-width: calc(350px + 30px + 350px); /* 5px tolerance for two images next to each other */
}
.trunk section {
  display: flex;
  flex-wrap: wrap;
}
.trunk section * {
  flex: 1 1 50%;
  max-width: 350px;
  width: 350px;
}
.trunk section > *:nth-child(2n+1) {
  margin-right: 30px;
}
.trunk h2 {
  font-size: 2.2em;
  margin: 2.4em 0 1.2em 0;
}
.trunk * {
  margin: 0 0 1.2em 0;
  text-align: justify;
}
.trunk > * {
  max-width: 100%;
}
img.blur {
  filter: blur(5px) saturate(30%) brightness(1.5);
}


/* footer */
footer {
  position: fixed; height: 3em; width: 100%; bottom: 0; left: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #bbb;
}
footer > span, a {
  display: inline-block;
  font-size: 1em;
  color: rgba(46, 44, 44, 0.938);
  background: #fff;
  padding: 1em;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer > *:first-child {
  /* move the buttons to the right and shrink for responsiveness */
  flex: 1 1;
}


/* pdf download */
.pdf_download::before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(assets/pdf32.png);
}



/* team view */
.team_container {
  max-width: calc(100vw - 16px); /* with tolerance for scrollbar */
  position: relative;
}
.team {
  display: flex;
  overflow-x: auto;
}
.team::before {
  content: '';
  padding-left: 200px;
}
.team::after {
  content: '';
  padding-right: 200px;
}
.team_container .arrows {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.team_container #arrow_right, .team_container #arrow_left {
  position: absolute;
  width: 80px;
  margin: 0;
  top: 200px;
  z-index: 1;
  transition-duration: .5s;
}
.team_container #arrow_right:hover, .team_container #arrow_left:hover {
  filter: brightness(50%);
}
.team_container #arrow_right {
  right: -100px;
}
.team_container #arrow_left {
  left: -100px;
  transform: scaleX(-1);
}
.person {
  position: relative;
  margin: 10px;
  padding: 10px 20px;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  background: #f80;
  box-shadow: 0px 0px 6px 3px #f80;
}
.person:nth-child(2n) {
  background: #fff;
  box-shadow: 0px 0px 6px 3px #fff;
}
.person img {
  width: 180px;
}
.person .overlay {
  position: absolute;
  transition-duration: .2s;
  opacity: 0;
}
.person .overlay:hover {
  opacity: .9;
}
/*.person .details {
}*/
.person > * {
  padding: 1.2em 0 5px 0;
}
.person img {
  margin: 0;
  padding: 0 20px;
}
.person .name {
  font-weight: bold;
}
.person .details > * {
  padding-bottom: 1em;
}

h3 {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 1.2em;
  padding-top:1.2em;
}

h4 {
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 1.2em;
  padding-top: 0em;
}

ul {
  list-style-type: disc;
  padding-left: 30px;
  text-align: justify;
}

li {
  padding-top:1em;
}

.logo {
  vertical-align: left;
}


/* responsive */
@media only screen and (max-width: 1000px) {
  .team_container #arrow_right {
    right: -50px;
  }
  .team_container #arrow_left {
    left: -50px;
  }
}
@media only screen and (max-width: 950px) {
  footer > span:first-child {
    font-size: .8em;
  }
}
@media only screen and (max-width: 890px) {
  .team_container #arrow_right {
    right: 10px;
  }
  .team_container #arrow_left {
    left: 10px;
  }
}
@media only screen and (max-width: 745px) {
  .trunk {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trunk section {
    flex-direction: column;
    align-items: center;
  }
  .trunk section > *:nth-child(2n+1) {
    margin-right: 0;
  }
  .trunk section * {
    flex: 0;
  }
}
@media only screen and (max-width: 620px) {
  footer > span:first-child {
    font-size: .4em;
  }
  footer .footer_buttons {
    font-size: .6em;
  }
}
@media only screen and (max-width: 450px) {
  nav {
    font-size: .8em;
  }
}
