/* fonts */
@font-face {
  font-family: "altehaas";
  /* https://www.1001fonts.com/alte-haas-grotesk-font.html */
  src: url(AlteHaasGroteskRegular.ttf) format("truetype");
}
html {
  font-family: altehaas;
}

/* dividing the page in nav, section and footer */
.pagelayout {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1px); /* buffer to avoid scrollbars */
}

/* general wrapping */
.flexwrap {
  display: flex;
  flex-wrap: wrap;
}

/* navigation header */
nav {
  background: #f80;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav a {
  display: inline-block;
  color: rgb(255, 255, 255);
  background: #f80;
  font-size: 1em;
  text-decoration: none;
  font-weight: normal;
  padding: 1em;
}
nav a:hover {
  color: #f80;
  background: rgb(255, 255, 255);
}

/* main content pane */
section {
  background: url(clarify/fest.jpg);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

/* footer */
footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #bbb;
}
footer > span, a {
  display: inline-block;
  font-size: 1em;
  color: rgba(46, 44, 44, 0.938);
  background: #fff;
  padding: 1em;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer *:first-child {
  flex-grow: 1;
}